<p>
  Created since 1 hour ago: <%= @since_1%>
</p>
<p>
  Created since 2 hour ago: <%= @since_2%>
</p>
<p>
  Created since 4 hour ago: <%= @since_4%>
</p>
<p>
  Created since 8 hour ago: <%= @since_8%>
</p>
<p>
  Created since 24 hour ago: <%= @since_24%>
</p>

<p>
  Fulfilled since 1 hour ago: <%= @finished_1 %>
</p>
<p>
  Fulfilled since 4 hour ago: <%= @finished_4 %>
</p>
<p>
  Fulfilled since 8 hour ago: <%= @finished_8 %>
</p>
<p>
  Fulfilled since 24 hour ago: <%= @finished_24 %>
</p>
<p>
Total times: 
<% @total_time.each do |total_time| %>
  <%= " #{total_time.to_s}, " %>
<% end %>
</p>
<p>
Cache ratios: 
<% @cache_ratios.each do |ratio| %>
  <%= " #{ratio.to_s}, " %>
<% end %>
</p>
<p>
Not exist count: 
<% @not_exist_count.each do |count| %>
  <%= " #{count.to_s}, " %>
<% end %>
</p>
<p>
Unique Courses
<% @unique_courses.each do |count| %>
  <%= " #{count.to_s}, " %>
<% end %>
</p>
<p>
  Email Count since 24 hours: <%= @emails_count_24 %>
</p>
<p>
  Phone Count since 24 hour ago: <%= @phone_count_24 %>
</p>
<p>
  Unfulfilled: <%= @unfulfilled_count %>
</p>
<p>
  Total: <%= @total %>
</p>
<p>
  Phone Uniques: <%= @phone_uniques %>
</p>
<p>
  Email Uniques: <%= @email_uniques %>
</p>
