
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-6 col-md-6">
      <h1>
        <span id="title">Eyeout</span> <sup id="session">Winter 2015</sup>
      </h1>
      <h4 id="subheading">Give us a course and we'll keep an eye out for you!</h4>
      
    </div>
    <div class="col-xs-2 col-md-2 right-align">
      <div class="like-us-please center">Staying free ain't easy...</div>
      <div class="like-us-please-sub center">Give us a like!</div>
      <div class="fb-like" data-width="200" data-href="https://www.facebook.com/pages/Eye-Out/1431757900456339" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      <div id="stats">
        <div id="stats-data">
          <%= @listener_count %>
        </div>
        <div id="stats-caption">
          students notified
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-md-2">
    </div>
    <div class="row right-align">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-6">
      <div class="row form-step">

        <div class="col-xs-1 col-md-1">
          <h3 class="numbered">1)</h3>
        </div>

        <div class="col-xs-11 col-md-11">
          <h3 class="numbered form-inst"> Enter a course that is full.</h3>
          <div class="eyeout-form-course form-in">
            <input id="dept-field" type="text" placeholder="CPSC" maxlength="4" class="course-detail"/>
            <input id="course-field" type="text" placeholder="110" maxlength="4" class="course-detail"/>
            <input id="section-field" type="text" placeholder="101" maxlength="4" class="course-detail"/>

            <div class="dropdown session-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Session
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Summer</a></li>
                <li><a href="#">Winter</a></li>
              </ul>
            </div>

          </div>
          <div class="seat-option-prompt">I can sit in:</div>
          <div class="btn-group" data-toggle="buttons">
            <label id="general-seats" class="btn btn-primary active">
              <input type="checkbox" autocomplete="off" checked> General seats
            </label>
            <label id="restricted-seats" class="btn btn-primary">
              <input id="restricted-seats" type="checkbox" autocomplete="off"> Restricted seats
            </label>
            <label id="stt-seats" class="btn btn-primary">
              <input type="checkbox" autocomplete="off"> STT seats
            </label>
          </div>
        </div> 
      </div>
      <div class="row form-step">
        <div class="col-xs-1 col-md-1">
          <h3 class="numbered">2)</h3>
        </div>

        <div class="col-xs-11 col-md-11">
          <h3 class="numbered form-inst">Give us a number.</h3>
          <div class="eyeout-form-number form-in">
            <input id="phone-number-field" type="text" placeholder="7785555555" maxlength="17" class="phone-number-detail"/>
          </div>
          <!-- Email stuff is here -->
          <div>
            <div><h5 class="form-sub">OR</h5></div>

            <h3 class="numbered form-inst">An email. <span class="small-font">(sometimes ends up in spam folder)</span></h3>
            <div class="eyeout-form-number form-in">
              <input id="email-field" type="text" placeholder="name@example.com" class="email-detail"/>
            </div>
            <div>
              <h5 class="form-sub">
                (if you give us both, we will send you a text and an email)
              </h5>
            </div>
          </div>
          <!---->
        </div> 
      </div>

      <div class="row form-step">
        <div class="col-xs-1 col-md-1">
          <h3 class="numbered">3)</h3>
        </div>

        <div class="col-xs-11 col-md-11">
          <h3 class="numbered form-inst">Kick back, relax. We'll text you when the course opens up.</h3>
        </div> 
      </div>
      <div class="row">
        <div id="error-messages">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Free option -->
          <button id='submit' class="btn btn-block btn-lg btn-primary">Get Me In!</button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="chat-box">
        <div class="chat-prompt">
          If you have any requests, let me know here.
        </div>

        <div class="chat-list">
          <ul id="chat-messages">
            <% @messages.each do |message| %>
              <% if message.admin %>
                <li class="chat-message admin-message"><%= message.body %></li>
              <% else %>
                <li class="chat-message"><%= message.body %></li>
              <% end %>
              <hr class="hr-message"/>
            <% end %>
          </ul>
        </div>

        <div class="chat-input-wrapper">
          <input id='chat-message' type="text" placeholder="Start typing..." class='chat-box-input'/>
          <button id='chat-enter' class="chat-send btn btn-sm btn-info">Send</button>
        </div>
      </div>
    </div>

  </div>
</div>
