<div class="container">
  <h3>Thanks! We'll check the class and shoot you a text if it frees up!</h3>
  <div class="inform">If you gave us an email you should have received a confirmation email.</div> 
  <div class="inform">The email confirmation might be in your spam. In which case, mark it as safe.</div>
  <br/>
  <div class="inform">If you signed up with a phone, we are <b>no longer</b> sending confirmation texts as it has gotten too expensive.</div>
  <br/>
  <div class="inform">If this helped, all I ask is that you share it with friends who might also need it :)</div>

</div>
