<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @course %> has open spots!</h1>
    <p>
      Better go register quickly!
    </p>
    <p>
      If we helped, like us at our facebook page: http://on.fb.me/1IWpap4
    </p>
  </body>
</html>
