<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We are currently checking for <%= @course %></h1>
    <p>
      We will let you know when a spot frees up! Hang tight.
    </p>
  </body>
</html>
