textarea, input { outline: none; }

ul {
  list-style-type: none;
  padding-left:0;
  margin-left:0;
}

.hr-message {
  margin: 15px;
}

li {
  padding-left:0;
  margin-left:0;
}

body {
  color: #555;
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 1.0em;
}

h3 {
  font-size: 2.9em;
}

.like-us-please {
  font-size: 1.4em;
  line-height: 1.4em;
}
.like-us-please-sub {
  font-size: 1.9em;
  line-height: 1.4em;
  font-weight: bold;
}
#title {
}

.center {
  text-align:center;
}

.block {
  display:block;
}

.course-detail {
  width: 70px;
  padding: 10px 5px;
}

.phone-number-detail {
  width: 120px;
  padding: 10px 5px;
  padding-left:15px;
}

.email-detail {
  width: 220px;
  padding: 10px 5px;
  padding-left:15px;
}

.numbered {
  display:inline;
}
.form-step {
  margin: 30px 10px;
}
.form-sub {
  font-size: 1.4em;
}

.form-in {
  margin-top:20px;
  font-size:1.4em;
}

.right-align {
  text-align:right;
}

#session {
  font-size:20px;
  top: -40px;
  color:#3498db;
}

#subheading {
  font-size: 20px;
  color:#888;
}

#stats {
  height: 80px;
  width: 150px;
  margin-top: 20px;
  border: 2px solid #999;
  position: relative;
  text-align: center;
}

#stats-data {
  position:absolute;
  width:100%;
  bottom:18px;
  font-size: 40px;
  color: #1abc9c;
}

#stats-caption {
  position:absolute;
  width:100%;
  bottom:5px;
  font-size: 15px;
}

.chat-box {
  position: relative;
  min-height:380px;
  max-height:380px;
}

.chat-input-wrapper {
  padding-left: 20px;
  position: absolute;
  bottom:0;
  float:left;
}

.chat-send {
  position:relative;
  top:-2px;
  width: 60px;
  height: 40px;
  border-radius: 10px;
}

.chat-box-input {
  height: 40px;
  width: 230px;
  font-size: 12px;
  padding-left: 10px;
  border-radius: 10px;
}
.chat-prompt {
  font-size: 1.5em;
}

.chat-list {
  padding-left:20px;
  color: #999;
  font-size: 1.3em;
  overflow-y: auto;
  min-height:300px;
  max-height:300px;
  width:100%;
  position: absolute;
}

.admin-message {
  font-weight: bold;
}

.session-dropdown {
  display: inline;
}

.seat-options {
  margin-top: 10px;
}

.seat-option-prompt {
  margin-top: 10px;
  font-size: 1.8em;
}

.chat-message {
  padding-top:3px;
  padding-bottom:3px;
}

#error-messages {
  text-align: center;
  font-size: 1.5em;
  color:red;
}

.small-font {
  font-size: 0.6em;
}

.inform {
  font-size: 1.6em;
}
